

body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
font-size: 5.625rem;
color: #66BFBF;
}
p
{
  line-height: 2;
}
h2
{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
  padding-bottom: 10px;
}
h3
{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bold;
}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.intro
{
  width: 30%;
  margin: auto;
}
.bottom-cloud
{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud
{
  position: absolute;
  right: 250px;
  top: 50px;

}
.top-continer
{
   background-color: #E4F9F5;
   position: relative;
   padding-top: 100px;

  }
  .arun-img
  {
    height: auto;
    width: 200px;
    margin-top: 100px;
  }
  .computer
  {
    width: 25%;
    float: left;
    margin-right: 30px;
    display: inline-block;
  }
  .mic
  {
    width: 25%;
    float: right;
  }

.middel-container
{
  margin: 100px 0;
}
.bottom-container
{
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: 100px
}
hr
{
  width: 30px;
  border-style: dotted;
  border-bottom: 0px;
  border-width: 5px;
  border-color: #5F939A;
  margin: 100px auto;
}
.footer-link
{
  color: #007580;
  margin: 10px 20px;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
}
.footer-link:hover
{
  color: #eaf6f6;
}
.copy-right{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.conclusion
{
  width: 40%;
  margin: 40px auto 60px;
}
.btn
{
  padding-top: 30px;
  padding-bottom: 30px;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
